<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script src="/static/main.js"></script>
        {% block head %} {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a class="nav-item" href="{{ url_for('index') }}">Home</a>
                <a class="nav-item" href="{{ url_for('UIL_index') }}" class>UIL Tests</a>
                <a class="nav-item" href="{{ url_for('submit') }}">Submit Questions</a>
                <a class="nav-item" href="{{ url_for('new_session') }}">New Session</a>
                <a class="nav-item" href="{{ url_for('shutdown') }}">Shutdown</a>
            </nav>
        </header>
        <div class="columns">
            <div class="sidebar">
                {% block left%}{% endblock %}
            </div>
            <main class="body">
                {% block content %}{% endblock %}
            </main>
            <div class="sidebar">
                {% block right%}{% endblock %}
            </div>
        </div> 
    </body>
</html>