{% extends "base.html" %}

{% block left %}
{% endblock %}

{% block content %}
<h1>Hi! Which topics would you like to study (choose at least one or else...)</h1>
<form method="POST">
    <div>
        {% for topic in topics %}
        <input type="checkbox" name="topics" id={{ topic }} value={{ topic }} checked>
        <label for={{ topic }}>{{ topic.replace('_', ' ').capitalize() }}</label>
        {% endfor %}
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}

{% block right %}

{% endblock %}