{% extends "base.html" %}

{% block left %}
{% endblock %}

{% block content %}
<div id="text">
    <h3>Hi! Which {{ session['topic'] }} would you like to study (choose at least one or else...)</h3>
    <br>
    <body class="text-center" data-gr-c-s-loaded="true">
        <form class="form-signin" method="POST">
            {% for o in options %}
            <input type={{ question_type }} name="options" id={{ o }} value={{ o }} checked hidden>
            <label for={{ o }}><div class="btn btn-outline-success my-2 my-sm-0 check">{{ o.replace('_', ' ').capitalize() }}</div></label>
            {% endfor %}
            <button class="btn btn-lg btn-outline-success btn-block" type="submit">Submit</button>
        </form>
    </body>
</div>
{% endblock %}

{% block right %}

{% endblock %}