{% extends "base.html" %}

{% block left %}
{% endblock %}

{% block content %}
<form method="POST">
    {% for q in session['test'] %}
    <div>
        <p class="question-num">Question {{ q['number'] }}:</h1>
        <p class="question">{{ q['question'] }}</p>
        {% if q['type'] in ['equation', 'evalulate'] %}
            <input type="text" class="form-control" placeholder="Answer here plz" id={{ q['number'] }} name="answers" autocomplete="off">
        {% elif q['type'] == 'multiple_choice' %}
            {% for option in q['options'] %}
                <input type='radio' name="answers" id={{ option }} value={{ option }} hidden>
                <label for={{ option }}>{{ option.replace('_', ' ') }}</label>
            {% endfor %}
            <input type='radio' name="answers" id=" " value=" " checked hidden>
        <br>
        {% endif%}
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock %}

{% block right %}
{% endblock %}