{% extends "base.html" %}

{% block left %}
<h3 class="title">Session Info</h3>
<ul>Current subjects:
    {% for s in session['subjects'] %}
    <li>{{ s }}</li>
    {% endfor %}
</ul>
<ul>Stats:
    <li>Correct: {{ session['correct'] }}</li>
    <li>Accuracy: {{ session['accuracy'] }}</li>
    <li>Streak: {{ session ['streak'] }}</li>
</ul>
    {% if session['last_answered'] %}
    <ul>Last question:
        <li>Result: {{ session['last_result'] }}</li>
        <li>Duration: {{ session['last_time'] }} seconds</li> 
        <li>Question: {{ session['last_question'] }}</li> 
        <li>Your answer: {{ session['your_last_answer'] }}</li>
        <li>Answer: {{ session['last_answer'] }}</li> 
        {% if session['last_type'] == 'equation' %}
            <li>Hint: {{ session['last_hint'] }}</li> 
            <li>Reasoning: {{ session['last_reasoning'] }}</li> 
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
<div class="col-sm-8 mx-auto">
    <h3>Question {{ session['question_num'] }}:</h3>
    <p class="lead font-weight-normal">{{ session['question'] }}</p>
    <div>
        <form class="mt-2 mt-md-0" method="POST">
            {% if session['type'] in ['equation', 'evalulate'] %}
            <input type="text" class="form-control" placeholder="Answer here plz" id="answer" name="answer" autocomplete="off" required>
            {% if session['type'] == 'equation' %}
            <div>
                <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="button" aria-describedby="tooltip">Hint?</button>
                <div id="tooltip" role="tooltip">{{ session['hint'] }}<div id="arrow" data-popper-arrow></div>
            </div>
            {% endif %}
            {% elif session['type'] == 'multiple_choice' %}
                {% for option in session['options'] %}
                    <input type='radio' name="answer" id={{ option }} value={{ option }} checked hidden>
                    <label for={{ option }}><div class="btn btn-outline-success my-2 my-sm-0 check">{{ option.replace('_', ' ') }}</div></label>
                {% endfor %}
                <br>
            {% endif%}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block right %}
{% endblock %}