{% extends "base.html" %}

{% block left %}
<h1>Session Info</h1>
<div class="dropdown">
    <button onclick="dropdown('topics')" class="dropbtn">Current topics:</button>
    <ul id="topics" class="dropdown-content">
        {% for topic in session['topics'] %}
        <li>{{ topic }}</li>
        {% endfor %}
    </ul>
</div>
<div class="dropdown">
    <button onclick="dropdown('stats')" class="dropbtn">Stats:</button>
    <ul id="stats" class="dropdown-content">
        <li>Correct: {{ session['correct'] }}</li>
        <li>Accuracy: {{ session['accuracy'] }}</li>
        <li>Streak: {{ session ['streak'] }}</li>
    </ul>
</div>
{% if session['last_question'] %}
{% set questions = session['last_questions'] %}
<div class="dropdown">
    <button onclick="dropdown('last_questions')" class="dropbtn">Previous questions</button>
    <ul id="last_questions" class="dropdown-content">
        {% for question in questions %}
        {% set num = question['num'] %}
        <li class="dropdown">
            <button onclick="dropdown('{{ num }}')" class="dropbtn">Question {{ num }}:</button>
            <ul id={{ num }} class="dropdown-content">
                <li>Result: {{ question['result'] }}</li>
                <li>Duration: {{ question['time'] }} seconds</li> 
                <li>Question: {{ question['question'] }}</li> 
                <li>Your answer: {{ question['your_answer'] }}</li>
                <li>Answer: {{ question['answer'] }}</li> 
                {% if question['type'] == 'equation' %}
                    <li>Hint: {{ question['hint'] }}</li> 
                    <li>Reasoning: {{ question['reasoning'] }}</li> 
                {% endif %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div>
    <p class="question-num">Question {{ session['question_num'] }}:</p>
    {% set question = session['question']%}
    <p class="question">{{ question['question'] }}</p>
    <div>
        <form method="POST">
            {% if question['type'] in ['equation', 'evalulate'] %}
                <input type="text" placeholder="Answer here plz" id="answer" name="answer" autocomplete="off" required>
                {% if question['type'] == 'equation' %}
                    <div class="tooltip">Hint?
                        <span class="tooltip-text">{{ question['hint'] }}</span>
                    </div>
                {% endif %}
            {% elif question['type'] == 'multiple_choice' %}
                {% for option in question['options'] %}
                    <input type='radio' name="answer" id={{ option }} value={{ option }} checked>
                    <label for={{ option }}>{{ option.replace('_', ' ') }}</label>
                {% endfor %}
            {% endif%}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block right %}
{% endblock %}